@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  flex-direction: column;
  background: #F8F9FB;
  min-height: 100vh;
}
a {
  transition: 0.5s !important; 
}
button {
transition: 0.5s !important; 
}
.container {
    max-width: 1280px !important;
    position: relative;
    z-index: 1;
  }
.flex1 {
  flex: 1;
  margin-top: 68px;
}
.callButton_nav button {
  border-radius: 4px;
  border: 1px solid #FF5858;
  background: rgba(217, 217, 217, 0.00);
  width: 157px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: normal;
  color: #FF5858;
  margin-top: 15px;
}
.callButton_nav button:hover {
  background: #fff;
  border-color: #fff;
  color: #FF5858;
}
.clintImage img {
  width: 250px !important;
  height: 250px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 0px;
  border: 6px solid #FFF;
  box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.15);
  background: #eee;
  padding: 5px;
}

.clintDetails p {
  color: #000;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: left;
  line-height: 32px !important;
  margin-bottom: 30px !important;
}

.clintDetails strong {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  line-height: 22px;
  display: block;
  margin-top: 15px;
}

.carousel .control-dots {
  bottom: 0;
  display: block !important;
  text-align: left !important;
}

.carousel-status {
  display: none;
}

.carousel .control-prev.control-arrow::before {
  border-right: 18px solid #53D390 !important;
  opacity: 1 !important;
}

.carousel .control-arrow::before,
.carousel.carousel-slider .control-arrow::before {
  border-top: 14px solid transparent !important;
  border-bottom: 14px solid transparent !important;
  content: '';
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}

.carousel .control-next.control-arrow::before {
  border-left: 18px solid #53D390 !important;
  opacity: 1 !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}

.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
  display: none;
}

.clintImage {
  display: flex;
  justify-content: center;
  position: relative;
}
.clintImage .qouts {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px !important;
  height: 44px !important;
  background: #1E373E;
  box-shadow: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
}
.clintImage .qouts img {
  height: auto !important;
  background: none !important;
  width: auto !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.rowbox {
  display: flex;
  margin: 10px -15px 0px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.80) !important;
  height: 100vh;
  overflow: auto;
  z-index: 9999 !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  inset: 50% auto auto 50% !important;
  padding: 30px 0 0 0 !important;
}

.Header_formContainer__TY4kP input[type="text"],
.Header_formContainer__TY4kP input[type="email"],
.Header_formContainer__TY4kP select {
  width: 100%;
  background-color: #fff !important;
}

.ReactModal__Content.ReactModal__Content--after-open .object-contain {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #fff;
  padding: 10px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ReactModal__Content.ReactModal__Content--after-open .formContainer {
  padding: 40px 0px 0px 0px;
}

.formContainer label input {
  margin-right: 5px !important;
}

/* .Header_formContainer__TY4kP input[type="text"], .Header_formContainer__TY4kP input[type="email"], .Header_formContainer__TY4kP select {
  border: 1px solid #000 !important;
}
.BookACallForm_formContainer__p6JNm input[type="text"], .BookACallForm_formContainer__p6JNm input[type="email"], .BookACallForm_formContainer__p6JNm select {
  border: 1px solid #000 !important;
} */
.datetimeinput {
  border-radius: 4px;
  border: 1px solid #000;
  margin-top: 5px;
}

.datetimeinput input {
  padding: 8px;
  width: 100%;
}

.mobilebox {
  display: none;
}

.mobileNavebar {
  display: none;
}

.mainContect {
  padding: 30px 0px;
}

.contectCol1 h2 {
  color: #121E14;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
}

.contectCol1 p {
  color: #121e14 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  margin-bottom: 10px !important;
  display: flex !important;
  align-items: center !important;
  line-height: normal !important;
}
.contectCol1 p span {
  margin-right: 10px;
  font-weight: bold;
}
.contectCol1 p svg {
  margin-right: 10px;
}

.css-13cymwt-control {
  border-color: #000 !important;
  margin-top: 0px !important;
  min-height: 43px !important;
}

.css-t3ipsp-control {
  border-color: #000 !important;
  margin-top: 0px !important;
  min-height: 43px !important;
}

.css-1u9des2-indicatorSeparator {
  background-color: #000 !important;
}

.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
.checkboxLabel {
    width: max-content;
}
.MainContentPage {
  padding: 0px;
}

.MainContentPage p {
  color: #121E14;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 28px;
}

.MainContentPage h1,
.MainContentPage h2,
.MainContentPage h3,
.MainContentPage h4,
.MainContentPage h5,
.MainContentPage h6 {
  color: #121E14;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.MainContentPage h1 {
  font-size: 36px;
}

.MainContentPage h2 {
  font-size: 36px;
}

.MainContentPage h3 {
  font-size: 26px;
}

.MainContentPage h4 {
  font-size: 24px;
}

.MainContentPage h5 {
  font-size: 22px;
}

.MainContentPage h6 {
  font-size: 20px;
}

.MainContentPage ol,
.MainContentPage ul {
  margin-bottom: 20px;
  padding-left: 15px;
}

.MainContentPage ul li {
  color: #121E14;
  font-weight: 400;
  font-size: 18px;
  list-style: disc;
  margin: 0 0 10px 0;
}

.MainContentPage ol li {
  color: #121E14;
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 10px 0;
  list-style: decimal;
}

.startupContentSection1 ol {
  padding-left: 15px;
}

.navbar nav ul li .active a {
  color: #FF5858;
}

.navbar nav ul li .active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  display: none;
  background: #FF5858;
}
.active-new {
  position: relative !important;
}
.active-new a {
  color: #FF5858 !important;
}

.active-new:after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 3px !important;
  background: #FF5858 !important;
}

.bannerWreppService {
  background-image: url(../../public/services.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 30px 0px;
}

.bannerWreppService h2 {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.serviceWrepp {
  padding: 50px 0px;
}

.serviceWrepp h1 {
  color: #121E14;
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
}

.serviceWrepp h2 {
  color: #121E14;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.serviceWrepp p {
  color: #121E14;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 40px;
}

.serviceWrepp ul {
  padding-left: 50px;
}
.serviceWrepp .secCol:first-child{
  background-color: #1e373e;
}
.serviceWrepp .secCol:first-child *{ 
  color: #fff;
}
/* .serviceWrepp .secCol:last-child {
  background: #D5FAF0;
  border: 1px solid #fff;
} */
.serviceWrepp .md\:flex {
  justify-content: center;
}
.serviceWrepp ul li {
  color: #121E14;
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
  line-height: 28px;
  position: relative;
}

.serviceWrepp ul li:after {
  content: "";
  position: absolute;
  left: -40px;
  top: 15px;
  background: url(../../public/arrow_right.png) no-repeat center center;
  background-size: 19px 19px;
  width: 19px;
  height: 19px;
}
.css-1jqq78o-placeholder {
    font-size: 14px;
}
.secCol {
  border: none;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-right: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.secCol h2 {
  margin-bottom: 20px;
}

.carousel .slider-wrapper {
  padding-bottom: 50px;
}

.disabled_box {
  opacity: 0.3;
  pointer-events: none;
}

.clintsliderrow {
  padding-right: 50px;
}

.logoMenu h2 {
  width: 25px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoMenu h2 img {
  margin-top: -8px;
}

.footer {
  margin-top: auto !important;
}
.Header_formContainer__TY4kP .css-b62m3t-container .css-qbdosj-Input input {
  background: none !important;
}
.flex1 .rdtPicker {
  z-index: 99 !important;
  bottom: 46px !important;
}
.Navbar_formContainer__tYPlt .rdtPicker {
  z-index: 99 !important;
  bottom: 46px !important;
}
.Header_formContainer__TY4kP .rdtPicker {
  z-index: 99 !important;
  bottom: 46px !important; 
}
.rowbox.flex.justify-between input {
  background: none !important;
}
.Satisfied {
    padding: 30px 50px;
}
.Satisfied h2 {
    text-align: center !important;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

.carousel-root {
  position: relative;
  z-index: 9;
}
/* .Satisfied.SatisfiedClint {
  background: #f9f9f9;
} */
.about-us .width-100 {
  width: 100%;
}
.about-us .pt-4.pb-4.width-100 {
  padding-top: 0;
}
.about-us .MainContentPage .mx-auto.container.pl-4.pr-4 {
  max-width: 100%;
  padding: 0 !important;
  width: 100%;
}

.contectCol1 .contect_mt {
  margin-top: 50px !important;
  margin-left: -1rem !important;
}
.startup_wrepp { 
  border-radius:4px;
   background:linear-gradient(180deg, #fff 34.9%, hsla(0, 0%, 100%, 0));
   padding:28px 58px;
}
.section_3 {
  background: #1E373E;
  padding: 40px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.section_3 h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: normal;
}
.section_3 p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 22px;
}
.section_3 ul {
    padding-left: 50px; 
}
.section_3 ul li  {
    color: #fff;
    font-size: 18px;
    position: relative;
    list-style: none;
    line-height: normal; /* 137.5% */
    margin-bottom: 15px;
}
.section_3 ul li:after {
    content: "";
    position: absolute;
    background: url(../../public/arrow_right.png) no-repeat left center;
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    top: 4px;
    left: -40px;
}
.section_4 .whatshe {
  background: #D5FAF0;
  padding: 40px;
}
.section_4 .whatshe h2 {
    color: #000;
    font-size: 36px;
    margin-bottom: 15px;
    line-height: normal;
    font-weight: 500;
}
.section_4 .whatshe p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 22px;
}
.section_4 .whatshe ul {
    padding-left: 50px; 
}
.section_4 .whatshe ul li  {
    color: #000;
    font-size: 18px;
    position: relative;
    list-style: none;
    line-height: normal; /* 137.5% */
    margin-bottom: 15px;
}
.section_4 .whatshe ul li:after {
    content: "";
    position: absolute;
    background: url(../../public/cross_arrow.png) no-repeat left center;
    background-size: 20px 20px;
    width: 20px; 
    height: 20px;
    top: 6px;
    left: -40px;
}
.didgetbox {
  padding: 55px 40px;
  position: relative;
  background: #F8F9FB;
  box-shadow: 500px 0px #f8f9fb;
}
.didgetbox h6 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}
.contect_crm {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 250px;
}
.carousel .control-dots .dot.selected {
    width: 31px !important;
    box-shadow: none !important;
    border-radius: 8px !important;
    background: #FA4659 !important;
  }

  .carousel .control-dots .dot {
    box-shadow: none !important;
    width: 11px !important;
    height: 11px !important;
    border-radius: 100% !important;
    background: #C8C8C8 !important;
    opacity: 1 !important;
    margin: 0px 4px !important;
  }
.footer_logo img {
    width: 172px;
} 
.footer_logo_wrepp {
    border-bottom: 1px solid #0B0B0B;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: 10px;
}  
.footer_logo_social ul {
  display: flex;
  align-items: center;
}
.footer_logo_social ul li {
  margin-left: 40px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}
.footer_logo_social ul li:last-child {
  margin-right: 0;
}
.footer_logo_social ul li img {
  margin-right: 5px;
  width: 18px;
}
.social_img {
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.social_img img {
  width: 28px !important;
  margin-left: 15px;
}
.accioEsopSection {
    padding: 30px 0px 30px;
}
.accioEsopSection h2 {
    color: #000;
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
.accioEsopSection p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}
.diffrence_wrepp {
  padding: 20px 0px 40px;
}
.diffrence_wrepp h2 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.diffrence_wrepp .pra {
  color: #FA4659;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}
.diffrence_card {
  border-radius: 10px;
  background: #FFF;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.05);
}
.diffrence_card:hover {
   box-shadow:0 4px 40px 3px rgb(0 0 0 / 18%);

}
.diffrence_card h3 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height:normal;
}
.diffrence_card p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}
.diffrence_card2 {
  border-radius: 10px;
  padding: 20px;
  background: #1E373E;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}
.diffrence_card2 p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}
.winningTeamSection2 {
    padding: 10px 0px 30px;
    text-align: center;
}
.winningTeamSection2 h2 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}
.winningTeamSection2 p {
    color: #FA4659;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.winningTeamSection2 .cards {
    border-radius: 10px;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 15px;
    height: 100%;
}
.winningTeamSection2 .cards img {
    width: 183px;
    height: 186px;
    border: 2px solid #2b454d;
    margin: auto;
}
.winningTeamSection2 .cards h3 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    line-height: normal;
    margin: 15px 0px;
}
.winningTeamSection2 .cards h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.told_you {
  background: #1E373E;
  padding: 60px 0px;
  text-align: center;
}
.told_you h2 {
  color: #FFF;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}
.told_you button {
  border-radius: 4px;
  background: #FA4659;
  width: 265px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: auto;
}
.told_you button:hover {
  background:#72f578;
  color: #000;
}
.bannerWrepp {
  background: #2B454D;
  padding: 30px 0px;
  text-align: center;
}

.bannerWrepp h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}
.contectinformation {
  padding: 60px 0px 40px;
  background: #2C474F;
  text-align: center;
}
.contectinformation h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}
.contectinformation h4 a {
  font-weight: 400;
}
.contectinformation h3 {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px  !important;
  line-height: normal;
}
.contectinformation h2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px !important;
}
.contectinformation p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}
/* .contect_mt {
  margin-top: 0px !important;
} */
.contectinformation .w-2\/6.pl-4.pr-4 {
  border-right: 1px solid #525252;
}
.contectinformation .w-2\/6.pl-4.pr-4:nth-child(3) {
  border-right: none;
}
.contectinformation img  {
  margin: auto;
  margin-bottom: 15px;
  height: 32px;
}
.Satisfied.SatisfiedClint h2 {
  text-align: left !important;
}
.clintDetails.w-3\/4.pr-4 {
  padding-right: 80px;
}
.clinename {
  text-align: left;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
}
.clinedesg {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.diffrence_card img {
  width: 48px;
}
.service1 {
  margin: 0px -1rem;
}
.service2 {
  margin: 20px -1rem;
}
.service1 img {
  max-width: 350px;
  margin-left: auto;
}
.service2 img {
  max-width: 350px;
}
.service_new_cotent {
    background: #1E373E;
    padding: 40px 1rem 40px;
    text-align: center;
    position: relative;
}
.service_new_cotent h2 {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
}
.service_new_cotent p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}
@media(max-width:1400px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    inset: 60% auto auto 50% !important;
  }
}

@media(max-width:767px) {
.service_new_cotent h2 {
      font-size: 26px;
    }
    .service_new_cotent p {
      font-size: 16px;
    }  
.contectWith1.w-3\/5.pl-4.pr-4 {
  width: 100%;
}
.contectWith2.w-2\/5.pl-4.pr-4 {
  width: 100%;
}
.contect_mt .w-2\/3.pl-4.pr-4 {
  margin-bottom: 20px !important;
}  
.diffrence_wrepp .w-1\/3.pl-4.pr-4.section_5 {
  width: 100%;
}
.diffrence_wrepp {
  padding: 20px 0px 0px;
}
.about-us .MainContentPage .told_you .container.mx-auto.pl-4.pr-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.contectinformation .w-2\/6.pl-4.pr-4 {
  margin-bottom: 30px;
}  
.contect_mt {
  margin-top: 30px !important;
}
.Satisfied.SatisfiedClint h2 {
  text-align: center !important;
}
.contectinformation .w-2\/6.pl-4.pr-4 {
  border-right: none;
}
.clintDetails.w-3\/4.pr-4 {
  padding-right: 0px;
}
.startup_wrepp {
  border-radius: 0;
  padding: 20px 0px;
}  
.social_img {
  margin-left: 0;
}
  .Satisfied {
  padding: 30px 0px;
  padding-left: 15px;
  padding-right: 15px; 
}
.contectinformation .w-2\/6.pl-4.pr-4 {
  width: 100%;
}
.contect_mt .w-2\/3.pl-4.pr-4 {
  width: 100%;
}
.contect_mt .flex  {
  display: block !important;
}
.clinename {
 text-align: center !important;
}
.clinedesg {
  text-align: center !important;
  line-height: normal !important;
}
.service1 .w-2\/3 {
  width: 100%;
}
.service1 .w-1\/3 {
  width: 100%;
}
.service2 .w-2\/3 {
  width: 100%;
}
.service2 .w-1\/3 {
  width: 100%;
}
.service1 img {
  margin: auto;
  max-width: 250px;
}
.service2 img {
  margin: auto;
  max-width: 250px;
}
.service2 {
  margin: 40px -1rem;
  flex-direction: column-reverse;
  display: flex;
}
.servicecol1.w-1\/3.pl-0.pr-4 {
  width: 100%;
  padding-left: 0;
}
.servicecol1.pl-4.pr-4 {
  width: 100%;
  padding: 0;
}
.servicecol1 {
  text-align: center;
}
.serviceWrepp .md\:flex {
  justify-content: center;
}
.md\:flex.justify-between.mobile_reverse {
  display: flex;
  flex-direction: column-reverse;
}
  .clintsliderrow {
    padding-right: 0px !important;
  }

  .page_bookAFormSection__apAGy .container {
    max-width: 100% !important;
  }

  .BookACallForm_formContainer__p6JNm {
    border-radius: 4px; 
    background: #FFF url(../../public/formbg.png) no-repeat top right;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  }

  .w-4\/6.pl-4.pr-4.section_1 {
    width: 100%;
  }

  .w-2\/6.pl-4.pr-4.section_1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .w-4\/6.pl-4.pr-4.section_2 {
    width: 100%;
  }

  .w-2\/6.pl-4.pr-4.section_2 {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .w-2\/3.pl-4.pr-4.section_3 {
    width: 100%;
  }

  .w-2\/3.pl-4.pr-4.section_4 {
    width: 100%;
  }

  .w-1\/3.pl-4.pr-4.section_4 {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
  }

  .w-2\/5.pl-4.pr-4.section_5 {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .w-3\/5.pl-4.pr-4.section_5 {
    width: 100%;
  }

  .w-2\/6.pl-4.pr-4.section_6 {
    width: 100%;
  }

  .clintImage.w-2\/6.pl-4.pr-4 {
    width: 100%;
  }

  .clintDetails.w-4\/6.pl-4.pr-4 {
    width: 100%;
  }

  .reverse_row.md\:flex.justify-between {
    flex-direction: column;
    display: flex;
  }

  .decstopbox {
    display: none;
  }

  .mobilebox {
    margin-top: 20px;
    display: block;
  }

  .control-arrow.control-prev {
    display: none;
  }

  .control-arrow.control-next {
    display: none;
  }

  .carousel .control-dots {
    display: block !important;
  }


  .carousel.carousel-slider {
    padding-bottom: 40px;
  }

  .Footer_copyright__3sPuO {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Footer_socialLinks__Ga5i3 ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }

  .Footer_copyright__3sPuO p {
    margin: 0;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    text-align: center;
    padding-top: 14px;
  }

  .Footer_copyright__3sPuO p span {
    display: none;
  }

  .toggle-mnu {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .toggle-mnu span:after,
  .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
  }

  .toggle-mnu span:after {
    top: 15px;
  }

  .toggle-mnu span {
    position: relative;
    display: block;
  }

  .toggle-mnu span,
  .toggle-mnu span:after,
  .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  .toggle-mnu.on span {
    background-color: transparent;
  }

  .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
  }

  .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
  }

  .mobileNavebar {
    padding: 10px 15px;
    background: #1E373E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
  }
 .logoMenu .NavUl li a {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  padding: 10px 0px;
 }  
 .logoMenu .NavUl li a:hover {
  color: #29BA74;
 }
 .logoMenu .NavUl li:last-child a {
  border-bottom: none;
 }
.mobileLogo {
  margin-left: 10px;
}
.Mobilecall button {
  border-radius: 4px;
  border:1px solid #FF5858;
  padding: 5px 10px;
  color: #FF5858;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.Mobilecall button:hover {
  background: #fff;
  border-color: #fff;
}
.mobileLogo img {
  max-width: 140px;
  width: 100%;
}
.w-2\/6.pl-4.pr-4.section_1 img {
  max-width: 300px;
}
.w-2\/6.pl-4.pr-4.section_2 img {
  max-width: 300px;
}
.w-1\/3.pl-4.pr-4.section_4 img {
  max-width: 300px;
}
.w-2\/5.pl-4.pr-4.section_5 img {
  max-width: 300px !important;
}
.startupContentSection2 h2 {
  font-size: 24px !important;
}
.achievementSection h2 {
  font-size: 24px !important;
}
.achievementSectionButton button {
  font-size: 16px !important; 
}
.offersection h2 {
  font-size: 24px !important;
}
.diffrence h2 {
  font-size: 24px !important;
}
.winningTeamSection2 h2 {
  font-size: 24px !important;
}
.getStartedSection h2 {
  font-size: 24px !important;
}
.getStartedSectionButton .scheduleButton {
  width: 220px;
  height: 45px;
  font-size: 16px;
}
.page_Satisfied__Mbtgm h2 {
  font-size: 24px !important;
  text-align: center !important;
}
.contectWith1.w-2\/4.pl-4.pr-4 {
  width: 100%;
}
.contectWith2.w-2\/4.pl-4.pr-4 {
  width: 100%;
}
.formContainer {
  margin-top: 20px !important;
}
.bannerWrepp h2 {
  font-size: 34px;
}
.bannerWreppService h2 {
  font-size: 40px;
  line-height: normal;
}
.MainContentPage h1 {
  font-size: 30px;
}
.MainContentPage h2 {
  font-size: 26px;
}
.MainContentPage h3 {
  font-size: 22px;
}
.MainContentPage h4 {
  font-size: 18px;
}
.MainContentPage h5 {
  font-size: 16px;
}
.MainContentPage h6 {
  font-size: 16px;
}
.contectCol1 h2 {
  font-size: 24px;
}
.BookACallForm_formContainer__p6JNm h2 {
  max-width: 300px;
  margin: auto;
  text-align: center !important;
}
.clintImage.w-1\/4.pl-4.pr-4 {
  width: 100%;
  margin-bottom: 20px;
  background-image: none !important;
}
.clintDetails.w-3\/4.pl-4.pr-4 {
  width: 100%;
  padding-top: 30px;
}
.Satisfied {
  padding: 30px 0px;
}
.page_winningTeamSection__jy45I h2 {
  font-size: 24px !important;
}
.page_winningTeamSection2__jy45I h2 {
  font-size: 24px !important;
}
.page_diffrence__AX2ES h2 {
  font-size: 24px !important;
  line-height: normal !important;
}
.page_accioEsopSection__bbTzw h2 {
  font-size: 24px !important;
}
.servicecol1.w-1\/3.pl-4.pr-4 {
  width: 100%;
}
.servicecol1.w-1\/3.pl-4.pr-4 {
  width: 100%;
}
.secCol.w-1\/3.pl-4.pr-4 {
  width: 100%;
  border: none;
  padding: 0;
  margin-top: 40px;
}
.serviceWrepp h1 {
  font-size: 24px !important;
  line-height: normal !important; 
  margin-bottom: 20px;
}
.serviceWrepp ul {
  margin-bottom: 20px;
}
.flex-1.justify-self-center.pb-3.mt-8.md\:block.md\:pb-0.md\:mt-0.p-12.md\:p-0.block.text-white {
  position: absolute;
  left: 0;
  background: #050505;
  width: 100%;
  padding: 15px;
  top: 28px;
}
.flex1 {
  margin-top: 58px;
}
.contectWith1.w-2\/4.pl-3.pr-3 {
  width: 100%;
}
.contectWith2.w-2\/4.pl-3.pr-3 {
  width: 100%;
}
.logoMenu {
  display: flex;
  align-items: center;
}
.clintImage {
  height: auto !important;
}
.Satisfied {
  padding-left: 15px;
  padding-right: 15px; 
}
.clintDetails p {
  text-align: center;
}

.clintDetails strong {
  text-align: center;
}
.winningTeamSection2 .cards {
    margin-bottom: 20px;
}
.winningTeamSection2 {
    padding: 30px 0px;
    text-align: center;
}
.about-us .MainContentPage .mx-auto.container.pl-4.pr-4 {
  max-width: 100%;
  padding: 0 !important;
  width: 100%;
}
.section_3 {
  width: 100% !important;
}
.section_4 {
  width: 100% !important;
}
.clintDetails.w-3\/4 {
  width: 100% !important;
}
.page_Satisfied__Mbtgm h2 {
  text-align: center;
  margin-bottom: 20px;
}
.clintImage .qouts {
  display: none !important;
}
.clintsliderrow {
    padding-right: 0px !important;
    display: flex;
    flex-direction: column-reverse;
  }
.carousel .control-dots {
  text-align: center !important;
}  
.didgetbox {
  padding: 20px;
  position: relative;
  border-bottom:1px solid #eee;
}
.section_4 .whatshe {
  padding: 20px;
}
.section_3 {
  padding: 20px;
}
.footer_logo_social ul {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.footer_logo {
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
.footer_logo_social ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center !important;
}
.footer_logo_social ul li {
  margin-bottom: 15px;
}
.social_img img {
  width: 28px;
  margin: 0px 10px;
}
.footer_logo_wrepp {
  margin-bottom: 20px;
}
.footer_logo_social ul li {
  margin-left: 0;
}
}
@media(max-width:575px) {
  .contect_crm {
  display: none;
}
.flex1 p {
  font-size: 16px !important;
}
.flex1 li {
  font-size: 16px !important;
}
.MainContentPage p {
  font-size: 16px !important;
}
.MainContentPage li {
  font-size: 16px !important;
}
.winningTeamSection2 .cards h4 {
  font-size: 16px;
  line-height: 26px;
}
.contectinformation h4 {
  font-size: 16px !important;
}
}
@media(max-width:414px) {
  .Navbar_formContainer__tYPlt h2 {
    max-width: 300px !important;
  }
}

.disabled-button {
  cursor: not-allowed !important;
}

.thank-you .pt-4.pb-4.width-100{
  width: 100%;
}