
/* ContactForm.module.css */
.formContainer {
    background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin-top: 0px;
}

.formContainer h2 {
    text-align: center;
}

.formContainer form {
    display: flex;
    flex-direction: column; 
}

.formContainer label {
    margin-top: 10px;
  width: 100%;
  color: #000;
  font-size: 14px;
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer select,
.formContainer textarea
 {
    padding: 8px;
    border: 1px solid #000;
    width: 100%;
    border-radius: 4px;
    margin-top: 0px;
    color: #333;
}
.formContainer input[type="text"]::placeholder,
.formContainer input[type="email"]::placeholder,
.formContainer select::placeholder,
.formContainer textarea::placeholder {
    color: #a0a6b2;
}
.formContainer .checkbox-label {
    display: flex;
    align-items: center;
}

.formContainer button {
   background:#fa4659;
   color: #fff;
   border:none;
   font-size: 20px;
   font-weight: 700;
   border-radius:4px;
   padding:10px;
   margin-top: 38px;
   cursor: pointer;
}

.formContainer button:hover {
    background-color: #ce3847;
    color: #fff;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-bottom: -10px;
}
.rowbox.flex.justify-between input {
  background: none !important;
}
/* .bannerWrepp {
    background-image: url(../../public/contect_banner.png);
    background-size: cover;
    background-position: top center; 
    background-repeat: no-repeat;
    padding: 30px 0px;
}
.bannerWrepp h2 {
    color: #FFF;
    font-size: 60px;
    font-style: normal; 
    font-weight: 700;
} */
.flex1 .rdtPicker {
  z-index: 99 !important;
  bottom: 46px !important;
}
@media(max-width:767px){
    .formContainer {
  margin-top: 20px !important;
}
.contectWith1.w-2\/4.pl-3.pr-3 {
  width: 100%;
}
.contectWith2.w-2\/4.pl-3.pr-3 {
  width: 100%;
}
}